.wrapper {
   padding-top: 100px;
}


.coffee--img {
   background-image:url("./../img/coffee.png");
   padding: 300px;
   margin: 25px;
 

}
.great-coffee {
   position: absolute;
   top: 0;
}

   
   
.btn--primary a {
   padding-bottom: 100px;
  text-decoration: none;
   border:1px solid transparent;
   background-color: #0E8784;
   color:white;
   padding: 15px;
   border-radius: 5px;
   
}