.hero {
   margin-bottom: 80px;
}

.hero__inner {
   padding: 120px 80px;
   border-radius: 10px;
   background-image: url("./../img/coffee.png");
   background-size: cover;
   color:var(--color-primary);

   &--bitter {
      background-image: url("./../../img/bitter-coffee.png");
   }
}

.hero__content {
   max-width: 500px;
}

.hero__content {
   h2 {
      font-size: 72px;
      font-weight: 900;
      font-family: $font-family-heading;
      margin-bottom: 32px;
      line-height: 1;
   }
   h2:hover {
    
   }

   p {
      color: #FEFCF7;
      margin-bottom: 56px;
   }
}