.works__title {
    font-family: "Fraunces 9pt";
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: #83888f;
}

.circle {
   width: 30px;
   height: 30px;
   border:1px solid #0E8784;
   border-radius:50%;
   background-color: #FEFCF7;
   text-align: center;
   

   }  


   


   .pick {
       display: flex;
       position: relative;
       right: 52px;
       padding:50px;
       justify-content: space-between;
       text-align: center;
   }

   .circle-line {
    display: flex;
    max-width: 845px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .line {
    height: 1px;
    width: 570px;
    background-color: #fdd6ba;
  }
  .circle {
    background: #fefcf7;
    border: 1px solid #0e8784;
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background-color: #fefcf7;
  }
